body {
    background-color:  rgb(213, 212, 212);
    
  }
  .container {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    box-shadow: 10px 6px 6px white;
  }
  input {
    outline: none;
    border: none;
    border-bottom: dashed 1px;
    text-align: center;
    font-size: 18px;
  }
  table th {
    border: solid 3px;
  }
              
  table {
    border: solid 2px;
    height: 60vh;
    width: 90%;
    border-collapse: collapse;
  }
  table td {
    border: solid 2px;
  }
  table tr {
    border: solid 2px;
  }
  span input,textarea{
    border: none;
    width: 80px;
    outline: none;
  }
  
  .envoyer{
    display: flex;
    justify-content: center;
  }
  
  .envoyer button {
    width: 60%;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    padding: 20px;
    border: solid 1px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .envoyer button:hover {
    transform: scale(1);
    animation: input 1s infinite alternate;
    transition: 5s;
    cursor: pointer;
    user-select: none;
  }
  @keyframes input {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(0.8);
    }
  }