
a{
    color:white;
    text-decoration: none;
    cursor: pointer;
  }
 .entete{
    display:flex;
    justify-content: space-between;
    padding: 3px;
    position: relative;
    height: 65px;
    z-index: 1;
  }
 .entete ul{
    list-style-type: none;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
 .entete ul li{
    display: inline;
    float: left;
  
    
  }
  .nomProfile{
    color:#878484;
    font-size: 16px;
  }
 .entete ul li a{
      font-size: 1.02em;
      letter-spacing: 0.05em;
  }
 
  .menuProfil > li {
        position: relative;
        height: 100%;
        flex: 1;
        width: fit-content;
      } 
      .menuProfil> li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 185px;
    align-items: center;
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menuProfil >li > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }
  .sous-menu {
    margin-top: 120px;
    width: 125px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
   flex-direction: column;
  }
  
  .sous-menu > li > a {
    height: 20px;
    padding: 10px;
    width: 100%;
    align-items: center;
    display: flex;

  }
  .sous-menu > li > button{
    height: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    border: none;
    background-color: transparent;
  }
  .menuProfil > li:hover > a{
    color: #2169EC;
  }
  .sous-menu > li:hover {
    background-color: rgb(255 203 157);
  }
  
  .sous-menu > li:hover > a {
    color: rgb(255, 255, 255);
  }
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menuProfil>li:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  .menuProfil>li:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }