body {
    background-color:  rgb(213, 212, 212);
  }
  
  .container {
    background-color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    box-shadow: 10px 6px 6px white;
  }
  input{
    border: none;
    outline: none;
    border-bottom: dashed 1px;
  }
  table {
    border: solid 1px;
  }
  
  table td{
    border: solid 1px;
    padding: 5px;

  }
  table th{
    border: solid 1px;
  }
  table input{
    outline: none;
    border: none;
  }
  .tableau{
    width: 90%;
  }
  .presntation{
    display: flex;
    justify-content: space-between;
  }
  .nom{
    width: 70%;
  }
  .photo input{
    border: none;
    border:solid 2px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.envoyer{
  display: flex;
  justify-content: center;
}

  .envoyer button {
    width: 60%;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    padding: 20px;
    border: solid 1px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .envoyer button:hover {
    transform: scale(1);
    animation: input 1s infinite alternate;
    transition: 5s;
    cursor: pointer;
    user-select: none;
  }
  @keyframes input {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(0.8);
    }
  }